body {
  width:100%;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background-color: rgb(187, 187, 245);
}

header {
  font-size: 2rem;
  color: white;
  padding: 10px 30px 10px 5px;
  margin: 0 0 7px 7px;
  background-color: rgb(214, 141, 6);
  width: 25%;
  height: 40%;
  position: relative;
}

#instructions {
  background-color: rgb(236, 236, 133);
  color: rgb(63, 158, 63);
  width: 50%;
  margin: 7px 0 7px 7px;
}

#number {
  background-color: rgb(73, 168, 73);
  height: 100px;
  width: 200px;
  margin: 0 0 7px 7px;
  float: left;
  text-align: center;
  font-size: 3.0rem;
  color: rgb(53, 52, 52);
}

.crystals{
  width: 40px;
  height: auto;
  margin: 1px 1px 1px 7px;
}

#score {
  background-color: rgb(62, 165, 151);
  color: white;
  height: 30px;
  width: 200px;
  margin: 0 0 10px 7px;
  /* float:left; */
  text-align: left;
  font-size: 1rem;
}
.score {
  background-color: rgb(62, 165, 151);
  color: white;
  height: 100px;
  width: 200px;
  margin: 0 0 10px 0px;
  /* float: left; */
  text-align: left;
  font-size: 4.5rem;
}
#games{
  background-color: rgba(0, 255, 255, 0.979);
  height: 100px;
  width: 90px;
  display: inline-block;
  margin: 0 0 10px 10px;
  font-size: .85rem;
  color: rgb(9, 9, 65);
  font: outline;
  text-align: left;
}
